.center{
 
    /* border: 5px solid; */
    display: flex;
    justify-content: center;
    
  }
  .row{
    content: "";
    display: table;
    clear: both;
    text-align: center;
  }
  
  .column{
    float: left;
    padding: 10px;
    text-align: center;
   
  }
  #Col1 ,#Col2{
    width: 450px;
    height: 350px;
    margin-left: 10px;
  }
  
  #imageEdges {
      width:100%;
      height:100%;
      background-color: #071b6b;
      /* margin-top: 20px; */
      box-shadow: 4px 4px 4px  rgb(0, 0, 0);
    }
  
    #imageEdgesinput {
      display: inline-block;
      margin-top: 2px;
    }
  
    #ApplyEdges {
      display: inline-block;
      margin-top: 2px;
      width:100%;
      height: 100%;
      background-color: #071b6b;
    
      box-shadow: 4px 4px 4px  rgb(0, 0, 0);
    }
  
  
  
  
  